body {
    font: 18px/2em "Open Sans", Helvetica, Arial, sans-serif;
}

main {
    max-width: 640px;
    margin: 0 auto;
}

nav {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    padding: 3px 15px;
}

table tr:nth-child(odd) {
    background: #eee;
}

table tr > td:first-child {
    font-weight: bold;
}

.search {
    text-align: center;
}